# Experiment-1

In [ ]:
print(type('Hello, World!'))
print(type(17))
print(type(3.2))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
number = 10
number = 1.1
message = 'And now for something completely different'
n = 17
pi = 3.1415926535897931

In [ ]:
print(n)
print(pi)

17
3.141592653589793

In [ ]:
a, b, c = 5, 3.2, "Hello"
print (a)
print (b)
print (c)

5
3.2
Hello

In [ ]:
x = y = z = "same"
print (x)
print (y)
print (z)

same
same
same

In [ ]:
# 76trombones = 'big parade'
# more@ = 1000000
# class = 'Advanced Theoretical Zymurgy'

In [ ]:
num_int = 123
num_flo = 1.23
num_new = num_int + num_flo
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [ ]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

In [ ]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))
num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))
num_sum = num_int + num_str
print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

In [ ]:
x = 15
y = 4
print('x + y =',x+y)
print('x y =',x-y)
print('x * y =',x*y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x ** y =',x**y)

x + y = 19
x y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

In [ ]:
first = 10
second = 15
print(first+second)
first = '100'
second = '150'
print(first + second)
first = 'Test '
second = 3
print(first * second)

25
100150
Test Test Test

In [ ]:
inp = input("Enter a value ")
print(inp)

Enter a value 44
44

In [ ]:
x = 5
y = 10
print('The value of x is {} and y is {}'.format(x,y))
x = 5
y = 10
print(f'The value of x is {x} and y is {y}')
print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name ='John'))

a = 5; b=6; c= 10
print(f"The summation of {a},{b}, and {c} =",a+b+c)

The value of x is 5 and y is 10
The value of x is 5 and y is 10
Hello John, Goodmorning
The summation of 5,6, and 10 = 21

In [ ]:
x = 12.3456789
print('The value of x is %.2f' %x)
print('The value of x is %.4f' %x)
round(x,4)

The value of x is 12.35
The value of x is 12.3457

12.3457

## Practice Exercise of Experiment-1

### Exercise 1

In [ ]:
name = input("Enter your name: ")
print("Hello " + name)

Enter your name: Rakib
Hello Rakib

### Exercise 2

In [ ]:
h = float(input ("Enter Hours: "))
r = float(input ("Enter Rate: "))
print(f"pay : {r*h}")

Enter Hours: 35
Enter Rate: 2.75
pay : 96.25

### Exercise 3

In [ ]:
c = float(input ("Enter Temperature in Celsius: "))
f = c*(9/5) + 32
print(f"Temparature in Farenheit: {f}")

Enter Temperature in Celsius: 35
Temparature in Farenheit: 95.0

### Exercise 4

In [ ]:
import math
h = int(input ("Enter Height: "))
w = int(input ("Enter Width: "))
# p = sqrt(h*h) + (w*w)
print(f"Area: {w*h}")
print(f"Diagonal: {math.sqrt(h*h + w*w)}")
print(f"Perimeter: {2*1(h+w)}")

Enter Height: 10
Enter Width: 10
Area: 100
Diagonal: 14.142135623730951
Perimeter: 40

### Exercise 5

In [ ]:
h = float(input("Enter Height: "))
b1 = float(input("Enter base 1 value: "))
b2 = float(input("Enter base 2 value: "))

# calculate the area of the trapezoid
area = (b1 + b) * h / 2

# print the result
print("Area of the trapezoid:", area)

Enter Height: 10
Enter base 1 value: 10
Enter base 2 value: 10
Area of the trapezoid: 80.0

### Exercise *6*

In [ ]:
h = float(input("Enter Height:"))
r = float(input("Enter radius:"))
print("volume = ", h*3.1416*r*r)
print("area= ", (2*3.1416*r*r) + (h*2*3.1416*r))

Enter Height:10
Enter radius:10
volume =  3141.6000000000004
area=  1256.64

### Exercise 7

In [ ]:
import math
r = float(input("Enter Radius: "))
a = float(input("Enter Angle: "))

arc_length = (2 * 3.1416 * r * a) / 360
sector_area = (3.1416 * r ** 2 * a) / 360
print("Arc Length:", arc_length)
print("Sector Area:", sector_area)

Enter Radius: 10
Enter Angle: 10
Arc Length: 1.7453333333333334
Sector Area: 8.726666666666665

*** End of Experiment-1 ***

# Experiment-2

In [ ]:
print(5 == 5)
print(5 == 6)
print(type(True))
print(type(False))

True
False
<class 'bool'>
<class 'bool'>

In [ ]:
x = 10
y = 12
print('x > y is',x>y)
print('x < y is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)
print(x is y)
print(x is not y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True
False
True

In [ ]:
x = True
y = False
print('x and y is',x and y)
print('x or y is',x or y)
print('not x is',not x)

x and y is False
x or y is True
not x is False

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
# Output: False
print(x1 is not y1)
# Output: True
print(x2 is y2)

False
True

In [ ]:
x = 'Hello world'
# Output: True
print('H' in x)
# Output: True
print('hello' not in x)

True
True

In [ ]:
x = 10
if x%2 == 0:
    print('x is even')
else :
    print('x is odd')

x is even

In [ ]:
x = 10
y = 15
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')
    
choice = input("Enter your Choice: ")
if choice == 'a':
    print('Bad guess')
elif choice == 'b':
    print('Good guess')
elif choice == 'c':
    print('Close, but not correct’)

SyntaxError: EOL while scanning string literal (3741776437.py, line 16)

In [ ]:
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x is greater than y')

x is less than y

## Practice Exercise of Experiment-2

### Exercise 1

In [2]:
hours = float(input("Enter hours: "))
rate = float(input("Enter rate: "))

if hours > 40:
    overtime_hours = hours - 40
    overtime_rate = rate * 1.5
    gross_pay = (40 * rate) + (overtime_hours * overtime_rate)
else:
    gross_pay = hours * rate

print("Pay: %.2f" % gross_pay)

Enter hours: 45
Enter rate: 10
Pay: 475.00

### Exercise 2

In [4]:
salary = float(input("Enter employee's salary: "))
years_of_service = int(input("Enter years of service: "))

if years_of_service > 5:
    net_bonus = 0.05 * salary
else:
    net_bonus = 0

print("Net bonus amount: %.2f" % net_bonus)

Enter employee's salary: 5
Enter years of service: 7
Net bonus amount: 0.25

### Exercise 3

In [5]:
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))

if length == breadth:
    print("The rectangle is a square.")
else:
    print("The rectangle is not a square.")

Enter the length of the rectangle: 4
Enter the breadth of the rectangle: 4
The rectangle is a square.

### Exercise 4

In [6]:
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))
if num1 > num2:
    greatest = num1
else:
    greatest = num2
print("The greatest number is:", greatest)

Enter the first integer: 10
Enter the second integer: 4
The greatest number is: 10

### Exercise 5

In [7]:
quantity = int(input("Enter the quantity of units: "))
cost_per_unit = 100
total_cost = quantity * cost_per_unit
if total_cost > 1000:
    discount = 0.1 * total_cost
    total_cost -= discount
print("Total cost: %.2f" % total_cost)

Enter the quantity of units: 54
Total cost: 4860.00

### Exercise 6

In [8]:
marks = float(input("Enter the student's marks: "))

if marks < 25:
    grade = 'F'
elif marks >= 25 and marks < 45:
    grade = 'E'
elif marks >= 45 and marks < 50:
    grade = 'D'
elif marks >= 50 and marks < 60:
    grade = 'C'
elif marks >= 60 and marks < 80:
    grade = 'B'
else:
    grade = 'A'
print("The student's grade is:", grade)

Enter the student's marks: 45
The student's grade is: D

### Exercise 7

In [10]:
age1 = int(input("Enter the age of the first person: "))
age2 = int(input("Enter the age of the second person: "))
age3 = int(input("Enter the age of the third person: "))

oldest = max(age1, age2, age3)
youngest = min(age1, age2, age3)
print("The oldest person is", oldest, "years old.")
print("The youngest person is", youngest, "years old.")

Enter the age of the first person: 10
Enter the age of the second person: 45
Enter the age of the third person: 7
The oldest person is 45 years old.
The youngest person is 7 years old.

### Exercise 8

In [11]:
num_classes_held = int(input("Enter the number of classes held: "))
num_classes_attended = int(input("Enter the number of classes attended: "))
attendance_percentage = (num_classes_attended / num_classes_held) * 100
print("The percentage of attendance is:", attendance_percentage)
if attendance_percentage >= 75:
    print("The student is allowed to sit in the exam.")
else:
    print("The student is not allowed to sit in the exam.")

Enter the number of classes held: 4
Enter the number of classes attended: 2
The percentage of attendance is: 50.0
The student is not allowed to sit in the exam.

### Exercise 9

In [12]:
num_classes_held = int(input("Enter the number of classes held: "))
num_classes_attended = int(input("Enter the number of classes attended: "))
has_medical_cause = input("Do you have a medical cause? (Y/N): ")

attendance_percentage = (num_classes_attended / num_classes_held) * 100

print("The percentage of attendance is:", attendance_percentage)

if attendance_percentage >= 75:
    print("The student is allowed to sit in the exam.")
else:
    if has_medical_cause.upper() == 'Y':
        print("The student is allowed to sit in the exam due to a medical cause.")
    else:
        print("The student is not allowed to sit in the exam.")

Enter the number of classes held: 10
Enter the number of classes attended: 7
Do you have a medical cause? (Y/N): Y
The percentage of attendance is: 70.0
The student is allowed to sit in the exam due to a medical cause.

### Exercise 10

In [13]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if num1 <= num2 and num1 <= num3:
    smallest = num1
    if num2 <= num3:
        middle = num2
        largest = num3
    else:
        middle = num3
        largest = num2
elif num2 <= num1 and num2 <= num3:
    smallest = num2
    if num1 <= num3:
        middle = num1
        largest = num3
    else:
        middle = num3
        largest = num1
else:
    smallest = num3
    if num1 <= num2:
        middle = num1
        largest = num2
    else:
        middle = num2
        largest = num1

print("Numbers in ascending order:", smallest, middle, largest)

if num1 >= num2 and num1 >= num3:
    largest = num1
    if num2 >= num3:
        middle = num2
        smallest = num3
    else:
        middle = num3
        smallest = num2
elif num2 >= num1 and num2 >= num3:
    largest = num2
    if num1 >= num3:
        middle = num1
        smallest = num3
    else:
        middle = num3
        smallest = num1
else:
    largest = num3
    if num1 >= num2:
        middle = num1
        smallest = num2
    else:
        middle = num2
        smallest = num1
print("Numbers in descending order:", largest, middle, smallest)

Enter the first number: 41
Enter the second number: 12
Enter the third number: 41
Numbers in ascending order: 12.0 41.0 41.0
Numbers in descending order: 41.0 41.0 12.0

*** End of Experiment-2 ***

# Experiment-3

In [1]:
a = [1,2,3,5,6]
#for (int i =0; i<5; i++)
for i in a:
    print(i)

1
2
3
5
6

In [2]:
print(range(10))
print(list(range(10)))
print(list(range(2, 8)))
print(list(range(2, 20, 3)))

b = "Hello World"
len(b)
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
max(numbers)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

11

In [8]:
# Element wise traversing and index wise traversing

numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum = 0
for number in numbers:
    sum = sum+number
print("The sum is", sum)

sum = 0
for i in range(len(numbers)):
    sum = sum + numbers[i]
print(sum)

friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
    print('Happy New Year:', friend)
print('Done!')

for i in range(len(friends)):
    print('Happy New Year:', friends[i])

The sum is 48
48
Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!
Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [7]:
count = 0
for itervar in [3, 41, 12, 9, 74, 15]:
    count = count + 1
print('Count: ', count)

total = 0
for itervar in [3, 41, 12, 9, 74, 15]:
    total = total + itervar
print('Total: ', total)

Count:  6
Total:  154

In [ ]:
largest = None
print('Before:', largest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if largest is None or itervar > largest :
        largest = itervar
    print('Loop:', itervar, largest)
print('Largest:', largest)

numbers = [3, 41, 12, 9, 74, 15]
largest= numbers[0]
for itervar in numbers:
    if itervar > largest :
        largest = itervar
    print('Loop:', itervar, largest)
print('Largest:', largest)

In [56]:
#
#
#
#

n = 10
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i+1
print("The sum is", sum)
inp = input("Enter: ")
while True:
    if inp == 'Done':
        break
i = 1
while i < 6:
    print(i)
    i += 1
    
#
#
#

The sum is 55
Enter: 45

KeyboardInterrupt:

In [20]:
for val in "string":
    if val == "i":
        break
print(val)
print("The end")

for val in "string":
    if val == "i":
        continue
print(val)
print("The end")

i
The end
g
The end

In [19]:
try:
    numerator = 10
    denominator = 0
    result = numerator/denominator
    print(result)
except:
    print("Error: Denominator cannot be 0.")

Error: Denominator cannot be 0.

### Lab Task

In [52]:
s = "Electronics Telecommunication"
count = 0
for i in s:
    if i == 'e':
        count = count + 1;
print("Number of 'e': ",count)

Number of 'e':  3

## Practice Exercise of Experiment-3

### Exercise 1

In [39]:
while True:
    a = input("Enter a number: ")
    if a=="done":
        break
    try:
        n = int(a)
    except:
        print("Invalid input")

Enter a number: 4
Enter a number: 5
Enter a number: djkf
Invalid input
Enter a number: done

### Exercise 2

In [42]:
try:
    score = float(input('Input score: '))
    if score >= 0.9 and score <= 1.0:
        print('A')
    elif score >= 0.8:
        print('B')
    elif score >= 0.7:
        print('C')
    elif score >= 0.6:
        print('D')
    elif score < 0.6 and score >= 0.0:
        print('F')
    else:
        print('Bad score')
except ValueError:
    print('Bad score')

Input score: udsj
Bad score

### Exercise 3

In [47]:
for i in range(1500, 2701):
    if i%5==0 and i%7==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

### Exercise 4

In [46]:
for i in range(7):
    if i == 3 or i == 6:
        continue
    print(i)

0
1
2
4
5

### Exercise 5

In [48]:
a, b = 0, 1

while b <= 50:
    print(b)
    a, b = b, a+b

1
1
2
3
5
8
13
21
34

### Exercise 6

In [49]:
n = int(input("Enter the ending number: "))

for num in range(n+1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Enter the ending number: 14
2
3
5
7
11
13

### Exercise 7

In [51]:
n = int(input("Enter a number: "))
sum = 0
for i in range(n+1):
    sum = sum + i
print(sum)

Enter a number: 100
5050

*** End of Experiment-3 ***

# Experiment-4

In [ ]:
guly

n = int(input("Ebter a number"))
if n == 1