# Experiment - 1

In [3]:
print(type('Hello, World!'))
print(type(17))
print(type(3.2))

<class 'str'>
<class 'int'>
<class 'float'>

In [4]:
number = 10
number = 1.1
message = 'And now for something completely different'
n = 17
pi = 3.1415926535897931

In [6]:
print(n)
print(pi)

17
3.141592653589793

In [7]:
a, b, c = 5, 3.2, "Hello"
print (a)
print (b)
print (c)

5
3.2
Hello

In [8]:
x = y = z = "same"
print (x)
print (y)
print (z)

same
same
same

In [19]:
# 76trombones = 'big parade'
# more@ = 1000000
# class = 'Advanced Theoretical Zymurgy'

In [10]:
num_int = 123
num_flo = 1.23
num_new = num_int + num_flo
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [11]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

In [12]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))
num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))
num_sum = num_int + num_str
print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

In [14]:
x = 15
y = 4
print('x + y =',x+y)
print('x y =',x-y)
print('x * y =',x*y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x ** y =',x**y)

x + y = 19
x y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

In [15]:
first = 10
second = 15
print(first+second)
first = '100'
second = '150'
print(first + second)
first = 'Test '
second = 3
print(first * second)

25
100150
Test Test Test

In [16]:
inp = input("Enter a value ")
print(inp)

Enter a value 44
44

In [17]:
x = 5
y = 10
print('The value of x is {} and y is {}'.format(x,y))
x = 5
y = 10
print(f'The value of x is {x} and y is {y}')
print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name ='John'))

a = 5; b=6; c= 10
print(f"The summation of {a},{b}, and {c} =",a+b+c)

The value of x is 5 and y is 10
The value of x is 5 and y is 10
Hello John, Goodmorning
The summation of 5,6, and 10 = 21

In [18]:
x = 12.3456789
print('The value of x is %.2f' %x)
print('The value of x is %.4f' %x)
round(x,4)

The value of x is 12.35
The value of x is 12.3457

12.3457

## Practice Exercise of Experiment-1

### Exercise 1

In [20]:
name = input("Enter your name: ")
print("Hello " + name)

Enter your name: Rakib
Hello Rakib

### Exercise 2

In [23]:
h = float(input ("Enter Hours: "))
r = float(input ("Enter Rate: "))
print(f"pay : {r*h}")

Enter Hours: 35
Enter Rate: 2.75
pay : 96.25

### Exercise 3

In [24]:
c = float(input ("Enter Temperature in Celsius: "))
f = c*(9/5) + 32
print(f"Temparature in Farenheit: {f}")

Enter Temperature in Celsius: 35
Temparature in Farenheit: 95.0

### Exercise 4

In [28]:
import math
h = int(input ("Enter Height: "))
w = int(input ("Enter Width: "))
# p = sqrt(h*h) + (w*w)
print(f"Area: {w*h}")
print(f"Diagonal: {math.sqrt(h*h + w*w)}")
print(f"Perimeter: {2*1(h+w)}")

Enter Height: 10
Enter Width: 10
Area: 100
Diagonal: 14.142135623730951
Perimeter: 40

### Exercise 5

In [31]:
h = float(input("Enter Height: "))
b1 = float(input("Enter base 1 value: "))
b2 = float(input("Enter base 2 value: "))

# calculate the area of the trapezoid
area = (b1 + b) * h / 2

# print the result
print("Area of the trapezoid:", area)

Enter Height: 10
Enter base 1 value: 10
Enter base 2 value: 10
Area of the trapezoid: 80.0

### Exercise *6*

In [29]:
h = float(input("Enter Height:"))
r = float(input("Enter radius:"))
print("volume = ", h*3.1416*r*r)
print("area= ", (2*3.1416*r*r) + (h*2*3.1416*r))

Enter Height:10
Enter radius:10
volume =  3141.6000000000004
area=  1256.64

### Exercise 7

In [30]:
import math
r = float(input("Enter Radius: "))
a = float(input("Enter Angle: "))

arc_length = (2 * 3.1416 * r * a) / 360
sector_area = (3.1416 * r ** 2 * a) / 360
print("Arc Length:", arc_length)
print("Sector Area:", sector_area)

Enter Radius: 10
Enter Angle: 10
Arc Length: 1.7453333333333334
Sector Area: 8.726666666666665

*** End of Experiment-1 ***

# Experiment-2

## Example 1: Boolean expressions

In [ ]:
print(5 == 5)
print(5 == 6)
print(type(True))
print(type(False))

True
False
<class 'bool'>
<class 'bool'>

##  Example 2: Comparison operators

In [ ]:
x = 10
y = 12
print('x > y is',x>y)
print('x < y is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)
print(x is y)
print(x is not y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True
False
True

## Example 3: Logical operators

In [ ]:
x = True
y = False
print('x and y is',x and y)
print('x or y is',x or y)
print('not x is',not x)

x and y is False
x or y is True
not x is False

## Example 4: Identity operators

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
# Output: False
print(x1 is not y1)
# Output: True
print(x2 is y2)

False
True

## Example 5: Membership operators

In [ ]:
x = 'Hello world'
# Output: True
print('H' in x)
# Output: True
print('hello' not in x)

True
True

## Example 6: Conditional execution

In [ ]:
x = 10
if x%2 == 0:
    print('x is even')
else :
    print('x is odd')

x is even

## Example 7: Chained conditionals

In [ ]:
x = 10
y = 15
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')
    
choice = input("Enter your Choice: ")
if choice == 'a':
    print('Bad guess')
elif choice == 'b':
    print('Good guess')
elif choice == 'c':
    print('Close, but not correct’)

SyntaxError: EOL while scanning string literal (3741776437.py, line 16)

## Example 8: Nested conditionals

In [ ]:
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x is greater than y')

x is less than y

## Practice Exercise for Experiment_2

### Exercise 1

In [ ]:
n = int(input("Enter a number: "))
if(n > 0):
    print("Number is positive")
elif(n < 0):
    print("Number is negative")
else:
    print("Number is zero")

Enter a number: -3
Number is negative

objective
problem statement
program(print)
output
Discussion